@model Oblig1.Models.Hus



<div class="col">
    <div>
        <img src="@Model.bildeURL" class="card-img-top" alt="Picture Not Found">
        <div>
            <div class="d-flex justify-content-between mt-2">
                <h6 class="text-start">
                    @Model.Addresse
                    @Model.by
                </h6>
                <h6 class="text-nowrap">
                    @Model.Pris.ToString("0.00 NOK")
                </h6>
            </div>
            <button type="button" class="btn btn-info">
                <a asp-controller="Hus"
                   asp-action="Oversikt"
                   asp-route-id="@Model.husId">
                    More
                </a>
            </button>
        </div>
    </div>
</div>