@model IEnumerable<Oblig1.Models.Kunde>

<div class="container">
    <table class='table table-striped'>
        <tr>
            <th>kundeID</th>
            <th>Navn</th>
            <th>Address</th>
            <th>Fodselsdato</th>
            <th>Telefonnummer</th>
            <th>Ordre</th>
            <th>Email</th>
            <th>Actions</th>

        </tr>
        @foreach (var kunde in @Model)
        {
            <tr>
                <td>@kunde.Person.Navn</td>
                <td>@kunde.Person.Addresse</td>
                <td>@kunde.Person.Fodselsdato.ToString("dd/MM/yyyy")</td>
                <td>@kunde.Person.TelefonNmr</td>
                <td>
                    @if (kunde.ordreListe != null && kunde.ordreListe.Any())
                    {
                        @string.Join(", ", kunde.ordreListe.Select(order => $"Order{order.ordreId}"))
                    }
                    else
                    {
                        <text>Ingen Ordre knyttet</text>
                    }
                </td>
                <td>@kunde.Person.Email</td>
                <td>

                    <span>
                        <a class="btn btn-success" asp-controller="Kunde" asp-action="Endre" asp-route-id="@kunde.kundeID"> Update</a>
                    </span>
                    <span>
                        <a class="btn btn-danger" asp-controller="Kunde" asp-action="Slett" asp-route-id="@kunde.kundeID">Delete</a>
                    </span>
                </td>
            </tr>
        }
    </table>

    <p>
        <a class="btn btn-secondary"
           asp-controller="Kunde"
           asp-action="Lag">Create new customer</a>
    </p>
</div>