@model Oblig1.Models.Hus

<head>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<h3 class="my-5">
    @Model.Addresse
</h3>

<div class="d-flex gx-5">
    <div class="item-card">
        <img alt="@Model.bildeURL" src="@Model.bildeURL" class="img-fluid" style="max-width: 300px; max-height: 200px;" />
        <div class="card-body">
            <h5 class="card-title">House Details</h5>
            <p class="card-text">Owner: <span class="text-muted">@Model.eier.Person.Navn</span></p>
            <p class="card-text">Areal: <span class="text-muted">@Model.areal</span></p>
            <p class="card-text">City: <span class="text-muted">@Model.by</span></p>
            <p class="card-text">Number of Rooms: <span class="text-muted">@Model.romAntall</span></p>
            <p class="card-text">Parking: <span class="text-muted">@Model.harParkering</span></p>
            <p class="card-text">Price: <span class="text-muted">@Model.Pris</span></p>
            <p class="card-text">Availability: <span class="text-muted">@Model.erTilgjengelig</span></p>
            <p class="card-text">Discription: <span class="text-muted">@Model.Beskrivelse</span></p>
            <form asp-controller="Ordre" asp-action="lagOrdre">
                <button type="button" class="btn btn-primary"
                        asp-controller="Ordre" asp-action="lagOrdre" id="bestillKnapp" asp-route-id="@Model.husId">
                    Reserve
                </button>
            </form>
        </div>
    </div>

    <div class="form ml-5 pl-5" id="ordreForm" style="display: none">
        <h2>Lag Ordre</h2>
        <form asp-controller="Ordre" asp-action="Lag">
            <div class="form-group">
                <label asp-for="kunde.Person.Navn">Name</label><span class="text-danger">*</span>
                <input asp-for="kunde.Person.Navn" class="form-control" />
                <span asp-validation-for="kunde.Person.Navn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kunde.Person.Fodselsdato">Birth date</label><span class="text-danger">*</span>
                <input asp-for="kunde.Person.Fodselsdato" type="date" class="form-control" />
                <span asp-validation-for="kunde.Person.Fodselsdato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kunde.Person.Addresse">Address</label><span class="text-danger">*</span>
                <input asp-for="kunde.Person.Addresse" class="form-control" />
                <span asp-validation-for="kunde.Person.Addresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kunde.Person.TelefonNmr">Tel</label><span class="text-danger">*</span>
                <input asp-for="kunde.Person.TelefonNmr" class="form-control" />
                <span asp-validation-for="kunde.Person.TelefonNmr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kunde.Person.Email">E-mail</label><span class="text-danger">*</span>
                <input asp-for="kunde.Person.Email" type="email" class="form-control" />
                <span asp-validation-for="kunde.Person.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" asp-controller="Hus" asp-action="Oversikt">Create</button>
            <a asp-controller="Ordre" asp-action="Tabell" class="btn btn-secondary">Back to Table View</a>
        </form>
    </div>
</div>





<script>$(document).ready(function () {
        $("#bestillKnapp").click(function (e) {
            e.preventDefault();  // Prevent the default action
            $("#ordreForm").toggle();
        });
    });</script>

<style>
    .item-card {
        flex-grow: 1;
        margin-right: 50px; /* Adjust the margin as needed */
    }

    .form {
        flex-grow: 2; /* Adjust the growth as needed */
    }
</style>





