@model Oblig1.Models.Hus

<head>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<h3 class="my-5">
    @Model.Addresse
</h3>

<div class="d-flex gx-5">
    <div class="item-card">
        <img alt="@Model.bildeURL" src="@Model.bildeURL" class="img-fluid" style="max-width: 300px; max-height: 200px;" />
        <div class="card-body">
            <h5 class="card-title">House Details</h5>
            <p class="card-text">Owner: <span class="text-muted">@Model.eier.Person.Navn</span></p>
            <p class="card-text">Areal: <span class="text-muted">@Model.areal</span></p>
            <p class="card-text">City: <span class="text-muted">@Model.by</span></p>
            <p class="card-text">Number of Rooms: <span class="text-muted">@Model.romAntall</span></p>
            <p class="card-text">Parking: <span class="text-muted">@Model.harParkering</span></p>
            <p class="card-text">Price: <span class="text-muted">@Model.Pris</span></p>
            <p class="card-text">Availability: <span class="text-muted">@Model.erTilgjengelig</span></p>
            <p class="card-text">Discription: <span class="text-muted">@Model.Beskrivelse</span></p>
            <form asp-controller="Ordre" asp-action="lagOrdre">
                <button type="submit" class="btn btn-primary"
                        asp-controller="Ordre" asp-action="lagOrdre" asp-route-id="@Model.husId">
                    Reserver
                </button>
            </form>
        </div>
    </div>

